#brand{
    font-size: 25px;
    color: red;
}

#search {
    height : 100%;
}

#search-input {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-width: 0;
}

#search-icon {
    border-width: 0;
    background-color: inherit;
}